<html lang="kr">
<head>
  <title>지뭐먹</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/plugins/lodash/lodash.min.js"></script>
  <script src="/plugins/immutable/immutable.min.js"></script>
</head>
<body>
  <div>
    <label>
      <input type="text" placeholder="Enter" id="register">
    </label>
    <button id="whatEat">뭐먹지?</button>
  </div>
  <div id="board01"></div>
</body>
<script type="module" src="/js/index.js"></script>
</html>
