<html>

<head>
  <title>지뭐먹</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <table id="sbTable01">
  </table>

  <label>
    <input type="text" placeholder="Enter" id="register">
  </label>
</body>

<script type="module" src="/js/index.js"></script>
</html>
