<html>

<head>
  <title>지뭐먹</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/plugins/lodash/lodash.min.js"></script>
</head>

<body>



  <table id="board01">
  </table>

  <label>
    <input type="text" placeholder="Enter" id="register">
  </label>

  <button id="whatEat">뭐먹지?</button>

</body>

<script type="module" src="/js/index.js"></script>
</html>
