<html>

<head>
  <title>지뭐먹</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/plugins/lodash/lodash.min.js"></script>
</head>

<body>

  <div>
    <label>
      <input type="text" placeholder="Enter" id="register">
    </label>

    <button id="whatEat">뭐먹지?</button>
  </div>
  <div class="board">
    <div class="column backlog">
      <div class="header">
        <header>Back Log</header>
        <svg class="float-right" version="1.1" width="16" height="16" aria-hidden="true">
          <path d="M8 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM1.5 9a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm13 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
        </svg>
        <svg class="float-right" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z"></path>
        </svg>
      </div>
      <article class="job">
        <div class="p-8">
          <h2>Some header</h2>
        </div>
      </article>
      <article class="job">
        <div class="p-8">
          <h2>Some header Some header Some header</h2>
        </div>
      </article>
      <article class="job">
        <div class="p-8">
          <h2>Some header</h2>
        </div>
      </article>
    </div><!-- column -->

    <div class="column ready">
      <header>Ready</header>
      <div class="job">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job">
        <h2>Some header Some header Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
    </div><!-- column -->

    <div class="column progress">
      <header>In Progress</header>
      <div class="job">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job">
        <h2>Some header Some header Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job done">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
    </div><!-- column -->

    <div class="column done">
      <header>Done</header>
      <div class="job">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job">
        <h2>Some header Some header Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
      <div class="job">
        <h2>Some header</h2>
        <small>2008-02-14 20:00</small>
      </div>
    </div><!-- column -->

  </div>


</body>

<script type="module" src="/js/index.js"></script>
</html>
