* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d1117;
  color: rgb(201, 209, 217);
}
header {
  padding: 8px;
  display: inline;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
h2 {
  font-size: 16px;
}
a {
  text-decoration: none;
}
h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
svg {
  fill: #8b949e;
  cursor: pointer;
  margin-left: 5px;
}
/* 공통 */
.float-right {
  float: right;
}
.p-8 {
  padding: 8px;
}
/* 보드 */
.board {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* 컬럼 */
.column {
  float: right;
  min-width: 355px;
  max-width: 355px;
  background-color: #06090f;
  width: 25%;
  padding: 0 10px;
  border: solid 1px #21262d;
  border-radius: 6px;
  margin-right: 16px;
}
.column:last-child {
  border-right: 0;
}
.header {
  padding: 8px;
}
/* 잡 */
.job {
  background: #161b22;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  border: solid 1px #30363d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.job:hover {
  border-color: #6e7681;
  cursor: pointer;
}
.job:focus {
  color: tomato;
}