* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0d1117;
  color: rgb(201, 209, 217);
}
header {
  padding: 8px;
  display: inline;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
h2 {
  font-size: 16px;
}
a {
  text-decoration: none;
}
h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
svg {
  fill: #8b949e;
  cursor: pointer;
  margin-left: 5px;
}
button {
  display: inline-block;
  color: #fff;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  font: 400 13px Arial;
  vertical-align: middle;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 0 transparent, 0 0 transparent;
  align-items: flex-start;
  background-color: #21262d;
  margin: 0;
  padding: 5px 16px;
  border: 1px solid #30363d;
  border-image: initial;
  border-radius: 6px;
}
button:hover {
  background-color: #30363d;
  border-color: #8b949e;
  transition-duration: .1s;
}
/* 공통 */
.float-right {
  float: right;
}
.p-8 {
  padding: 8px;
}
.dp-flex {
  display: flex;
}
/* 보드 */
.board {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* 컬럼 */
.column {
  float: right;
  min-width: 355px;
  max-width: 355px;
  background-color: #06090f;
  width: 25%;
  padding: 0 10px;
  border: solid 1px #21262d;
  border-radius: 6px;
  margin-right: 16px;
}
.column:last-child {
  border-right: 0;
}
.header {
  padding: 8px;
}
.header header:hover {
  color: #6e7681;
  cursor: pointer;
}
/* 잡 */
.job {
  background: #161b22;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  border: solid 1px #30363d;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.job:hover {
  border-color: #6e7681;
  cursor: pointer;
}
.job:focus {
  color: tomato;
}
/* 입력 폼 */
.form {
  margin-bottom: 10px;
}
.form textarea {
  padding: 8px 12px;
  line-height: 1.5;
  resize: vertical;
  width: 100%;
  background-color: #0d1117;
  border: 1px solid #21262d;
  border-radius: 6px;
  margin-bottom: 10px;
}
.add {
  flex: 1;
  background-color: #238636;
  border-color: #2ea043;
  box-shadow: 0 0 transparent, 0 0 transparent;
  margin-right: 4px;
  white-space: nowrap;
  padding: 5px 16px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.add:hover {
  background-color: #2ea043;
  border-color: #3fb950;
}
.cancel {
  flex: 1;
}